.Petrin_Título {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: auto;
}

.Petrin_Título_set {
flex: 1;
justify-content: center;
display:flex
}

.PAI {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}

.Links_ {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}

.Atividades_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: auto;
}

.Atividades_Button_set {
    flex: 1;
    justify-content: center;
    display: flex;
}

.FNAF_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: auto;
}

.FNAF_Button_set {
    flex: 1;
    justify-content: center;
    display: flex;
}